{% extends 'base.html.twig' %}

{% block title %}Vos 8 intelligences | Interpersonnelle{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}
    <div class="ui grid container h100 middle aligned" id="pageInterpersonnelle">
        <div class="row">
            <div class="sixteen wide mobile twelve wide tablet eight wide computer centered column">
                <div class="ui colorApp segment" id="squareInterpersonnelle">
                    <h3 class="ui dividing header" id="titleInterpersonnelle">Interpersonnelle <img src="{{ asset('images/logos/logoInterpersonnelle.png') }}" class="logosIntelligences" alt="logo interpersonnelle"></h3>
                    <div id="blocEnigme">
                        {% include("interpersonnelle/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


