{% extends 'base.html.twig' %}

{% block title %}Enigme Interpersonnelle{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig") with {'pathAnimationJS': 'js/brainAnim/brainInterpersonnelle.js'} %}

    <div class="ui grid container h100 middle aligned" id="pageInterpersonnelle">
        <div class="row">
            <div class="sixteen wide mobile twelve wide tablet ten wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Interpersonnelle</h3>
                    <div id="blocEnigme">
                        {% include("interpersonnelle/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


