{% extends 'base.html.twig' %}

{% block title %}Enigme Interpersonnelle{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Enigme</h3>
                    <div id="blocEnigme">
                        {% include("interpersonnelle/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
