{% extends 'base.html.twig' %}

{% block title %}Introduction Kinesthésique{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}
    <div class="ui grid container h100 middle aligned" id="pageIntro">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header" >Introduction au jeu qui va suivre :</h3>
                    <h3 class="ui header centered" id="introTitleKinesthesique">Intelligence Kinesthésique</h3>
                    <div class="logosInIntros">
                        <img src="{{ asset('images/logos/logoKinesthesique.png') }}" class="logosIntelligences" alt="logo kinesthesique">
                    </div>
                    <div class="explanations">
                        <p>Le jeu qui suit est un mini-questionnaire.</p>
                        <p>Réponds aux 3 questions qui te seront posées.</p>
                        <p>Bonne chance !</p>
                    </div>
                    {# modal #}
                    <div class="ui tiny modal demoGifKinesthesique" id="modalGifKinesthesique">
                        <h4 class="ui block header kinesthesique centered">Aperçu du jeu suivant</h4>
                        <img src="{{ asset('gifs/gifKinesthesique.gif') }}" alt="gif demonstration" width="100%">
                    </div>
                    {# modal #}
                    <div class="introButtons">
                        <a class="ui button" href="{{ path('kinesthesique') }}"
                           onclick="playClick()">Je suis prêt !</a>
                        <i class="question circle outline icon" id="demoGifKinesthesique"
                           onclick="afficherModalHelp('demoGifKinesthesique'); playLink()" title="Aperçu du jeu suivant"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
