{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Kinesthésique{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}

    <div class="ui grid container h100 middle aligned" id="pageKinesthesique">
        <div class="row">
            <div class="sixteen wide mobile twelve wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header" id="titleKinesthesique">Kinesthésique <img src="{{ asset('images/logos/logoKinesthesique.png') }}" class="logosIntelligences" alt="logo kinesthesique"></h3>
                    <div id="blocEnigme">
                        {% include("kinesthesique/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
