<div class="explanations">
    <p>Bien joué ! Maintenant, passons à l'étape suivante.</p>
</div>
<h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
<div class="explanations">
    <p>Le jeu se déroule en 3 manches.</p>
    <p>A chacune des manches, tu devras indiquer le résultat de l'énigme mathématique qui te sera présentée.</p>
    <p>Mais attention, il s'agit de calcul mental. Calculatrices et brouillons sont donc interdits !</p>
    <p>Bonne chance !</p>
</div>
<a class="ui button" href="{{ path('mathematique_intro') }}" onclick="playNext()">Je suis prêt !</a>
