{% extends 'base.html.twig' %}

{% block title %}Reprendre{% endblock %}

{% block body %}
    <form action="{{ path('app_login') }}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Reprendre</h1>

        <label for="inputUsername">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" autofocus>
        <input type="hidden" value="password" name="password" id="inputPassword" class="form-control">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">C'est parti</button>
    </form>
{% endblock %}
