{% extends 'base.html.twig' %}

{% block title %}Introduction Intrapersonnelle{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
                    <div class="explanations">
                        <p>Après avoir passé ces différents tests, il est temps d'estimer ton niveau !</p>
                        <p>Pour chacun des tests effectués précédemment, attribue-toi le badge qui représente le mieux
                            tes points forts, ou tes points faibles.</p>
                        <p>Astuce :</p>
                        <ul>
                            <li>Si tu penses avoir réussi toutes les énigmes mathématiques, octroie-toi le badge or !
                            </li>
                            <br>
                            <li>Si au contraire, tu as trouvé cela difficile et tu ne penses pas avoir donné les bonnes
                                réponses, tu peux t'attribuer un badge bronze.
                            </li>
                        </ul>
                        <p>Bonne chance !</p>
                    </div>
                    {# modal #}
                    <div class="ui mini modal demo" id="modalGifIntrapersonnelle">
                        <h4 class="ui block header intrapersonnelle centered">Aperçu du jeu suivant</h4>
                        <img src="{{ asset('gifs/linguistique.gif') }}" alt="gif demonstration" width="100%">
                    </div>
                    {# modal #}
                    <div class="introButtons">
                        <a class="ui button" id="#submitReponse" href="{{ path('intrapersonnelle') }}">Je suis prêt
                            !</a>
                        <i class="question circle outline icon" id="demoGifIntrapersonnelle"
                           onclick="afficherModalDemo(); playLink()" title="Aperçu du jeu suivant"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
