{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Intrapersonnelle{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned" id="pageIntrapersonnelle">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header" id="titleIntrapersonnelle">Intrapersonnelle</h3>
                    <div id="blocEnigme">
                        <form method="post">
                            {% set tableauCompetence = ['mathematique', 'interpersonnelle', 'linguistique', 'naturaliste', 'visuoSpatiale', 'kinesthesique', 'musicale'] %}
                            {% for competence in tableauCompetence %}
                                {% include("intrapersonnelle/content/formEnigme.html.twig") %}
                            {% endfor %}
                            <button type="submit" name="formIntrapersonnelle" value="submit" class="button" id="submitReponse" onclick="playClick()">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
