{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Intrapersonnelle{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}
    <div class="ui grid container h100 middle aligned" id="pageIntrapersonnelle">
        <div class="row">
            <div class="sixteen wide mobile twelve wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header" id="titleIntrapersonnelle">Intrapersonnelle <img src="{{ asset('images/logos/logoIntrapersonnelle.png') }}" class="logosIntelligences" alt="logo intrapersonnelle"></h3>
                    <div id="blocEnigme">
                        {% include("intrapersonnelle/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
