{% extends 'base.html.twig' %}

{% block title %}Enigme Intrapersonnelle{% endblock %}

{% block body %}
    <div class="ui grid container pad" id="pageIntrapersonnelle">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Enigme</h3>
                    <div id="blocEnigme">
                        <form method="post">
                            {% set tableauCompetence = ['mathematique', 'interpersonnelle', 'linguistique', 'naturaliste', 'visuoSpatiale', 'kinesthesique', 'musciale'] %}
                            {% for competence in tableauCompetence %}
                                {% include("intrapersonnelle/content/formEnigme.html.twig") %}
                            {% endfor %}
                            <button type="submit" name="formIntrapersonnelle" value="submit" class="ui button">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
