<div class="explanations">
    <p>Bien joué ! Maintenant, passons à l'étape suivante.</p>
</div>
<h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
<div class="explanations">
    <p>Le jeu se déroule en 3 manches.</p>
    <p>A chacune des manches, il te faudra traduire la phrase présentée à l'aide de pictogrammes.</p>
    <p>Astuce : les pictogrammes peuvent être déplacés dans les emplacements vides par "glisser-déposer" ou à l'aide d'un clic.</p>
    <p>Bonne chance !</p>
</div>
<a class="ui button" href="{{ path('linguistique') }}">Je suis prêt !</a>
