<form id="formEnigme">
    <img src="{{ enigmeRandom.urlImage }}" alt="">
    <label for="reponseUtilisateur">Votre réponse :</label>
    <input type="text" name="{{ nomInput }}" required="required" id="reponseUtilisateur" autofocus>
    <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
</form>
<button id="buttonEnvoyer" onclick="requeteAjaxPostv2('#formEnigme', '#blockEnigme')">Envoyer</button>
