<div class="explanations">
    <p>Bien joué ! Maintenant, passons à la dernière étape.</p>
</div>
<a class="ui button link" href="{{ path('intrapersonnelle_intro') }}" onclick="playNext()">Suivant !</a>
