<div class="explanations">
    <p>Bien joué ! Maintenant, passons à la dernière étape.</p>
</div>
<h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
<div class="explanations">
    <p>Après avoir passé ces différents tests, il est temps d'estimer ton niveau !</p>
    <p>Pour chacun des tests effectués précédemment, attribue toi le badge qui représente le mieux tes points forts, ou tes points faibles.</p>
    <p>Astuce :</p>
    <ul>
        <li>Si tu penses avoir réussi toutes les énigmes mathématiques, octroie toi le badge or !</li>
        <br>
        <li>Si au contraire, tu as trouvé cela difficile et tu ne penses pas avoir donné les bonnes réponses, tu peux t'attribuer un badge bronze.</li>
    </ul>
    <p>Bonne chance !</p>
</div>
<a class="ui button" href="{{ path('intrapersonnelle_intro') }}">Je suis prêt !</a>
