<div class="explanations">
    <p>Bien joué ! Maintenant, passons à l'étape suivante.</p>
</div>
<h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
<div class="explanations">
    <p>Le jeu se déroule en 3 manches.</p>
    <p>A chacune des manches, un labyrinthe te sera présenté.</p>
    <p>Tu devras sélectionner le chemin permettant de rejoindre le centre du labyrinthe parmi les propositions A, B, C ou D.</p>
    <p>Bonne chance !</p>
</div>
<a class="ui button" href="{{ path('visuoSpatiale_intro') }}" onclick="playNext()">Je suis prêt !</a>
