<form class="ui form" id="formEnigme">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="holderContainer" id="holderContainer" data-col="{{ enigmeRandom.numberOfColumns }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="touchPad color0 cursor" data-note="0"><div class="ripple"></div><i class="plus icon cursor"></i></div>
                <div class="touchPad color1 cursor" data-note="1"><div class="ripple"></div><i class="plus icon cursor"></i></div>
                <div class="touchPad color2 cursor" data-note="2"><div class="ripple"></div><i class="plus icon cursor"></i></div>
                <div class="touchPad color3 cursor" data-note="3"><div class="ripple"></div><i class="plus icon cursor"></i></div>
                <div class="touchPad color4 cursor" data-note="4"><div class="ripple"></div><i class="plus icon cursor"></i></div>
                <div class="touchPad color5 cursor" data-note="5"><div class="ripple"></div><i class="plus icon cursor"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui compact menu cursor">
                    <div class="item" id="lecture">
                        <i class="play icon"></i>
                        <div class="ui red floating label">5</div>
                    </div>
                    <div class="item" id="play">
                        <i class="play icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
    <input type="hidden" name="{{ nomInput }}" value="{{ enigmeRandom.solution }}" id="reponseUser">
</form>
<button class="button" id="submitReponse" onclick="requeteAjaxPostv2('#formEnigme', '#blocEnigme'); playClick()">Envoyer</button>
