<form class="ui form" id="formEnigme">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="holderContainer" id="holderContainer" data-col="{{ enigmeRandom.numberOfColumns }}" data-row="{{ enigmeRandom.numberOfRows }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <div class="button" id="lecture">
                    <i class="play icon"></i>
                </div>
            </div>
            <div class="four wide column">
                <div class="button" id="audio">
                    <i class="volume up icon"></i>
                </div>
            </div>
            <div class="four wide column">
                <div class="button" id="reset">
                    <i class="redo alternate icon"></i>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
    <input type="hidden" name="{{ nomInput }}" value="" id="reponseUser">
</form>
<button class="button" id="submitReponse" onclick="requeteAjaxPostv2('#formEnigme', '#blocEnigme')">Envoyer</button>
