{% extends 'base.html.twig' %}

{% block title %}Introduction{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Introduction</h3>
                    <div class="explanations">
                        <p>Bonjour cher utilisateur !</p>
                        <p>Ici, tu découvriras qu'il n'existe pas qu'une seule forme d'intelligence mais bien plusieurs
                            !</p>
                        <p>C'est Howard Gardner qui a émis cette théorie en 1983 intitulée "La théorie des intelligences
                            multiples".</p>
                        <p>Bien que le test qui va suivre n'a pas une vocation scientifique, tu pourras, à travers cette
                            application, découvrir tes talents !</p>
                    </div>
                    <a class="ui button" href="{{ path('interpersonnelle_intro') }}">Commencer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
