{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Introduction{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}
    <div class="ui grid container h100 middle aligned" id="pageFirstIntro">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Introduction</h3>
                    <div class="explanations">
                        <p>Bonjour {{app.user.username}} !</p>
                        <p>Sais-tu que nous sommes tous intelligents, sous différentes formes ? C’est la théorie d’Howard Gardner : celle des 8 types d’intelligence.</p>
                        <p>Et comme nous, à RDV Nomade, on aime révéler par le jeu, on te propose de découvrir les tiennes !</p>
                        <p>En 15 minutes, tu en sauras plus sur ton cerveau !</p>
                    </div>
                    <a class="ui button link" href="{{ path('interpersonnelle_intro') }}" onclick="playClick()">Commencer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
