{% extends 'base.html.twig' %}

{% block title %}Introduction{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui colorApp segment">
                    <h2>Introduction</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
