{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="ui segment">
            <h1>Accueil</h1>
            <a class="fluid ui button" href="{{ path('app_register') }}">Nouvelle Partie</a>
            <br>
            <a class="fluid ui button" href="{{ path('app_login') }}">Reprendre</a>
        </div>

        {% if app.user %}
            <div class="ui segment">
                <h1>Liste jeux</h1>
                <a class="ui button" href="{{ path('visuoSpatiale') }}">Visuo Spatiale</a>
                <br>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
