{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui grey inverted segment">
                    <h1>Accueil</h1>
                    <a class="fluid ui button" href="{{ path('app_register') }}">Nouvelle Partie</a>
                    <br>
                    <a class="fluid ui button" href="{{ path('app_login') }}">Reprendre</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
