.draggable-elements {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.droppable-elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px
}

.draggable-elements img {
    height: 8rem;
    width: 8rem;
    margin-left : 10px;
    margin-right : 10px;
}

.draggable {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.draggable img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.droppable {
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    border-right: 1px dashed darkgrey;
    border-left: 1px dashed darkgrey;
}

.droppable img {
    width : 110px; /* remplir le cadre du drop pour éviter plusieurs pictos dans une case */
}

@media (max-width: 600px) {
    html { font-size: 14px; }
    .draggable-elements { margin: 1.5rem; }
}
