.draggable-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.droppable-elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem
}

.draggable-elements img {
    height: 8rem;
    width: 8rem;
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 10px;
    border: 2px black solid;
    border-radius: 5px;
}

.draggable-elements img:hover, .droppable img:hover {
    border: 4px black solid;
    cursor: url("../images/divers/pointer.png") 14 2, auto !important;
}

.draggable {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.droppable {
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    border-right: 1px dashed darkgrey;
    border-left: 1px dashed darkgrey;
}

.droppable img {
    width : 10rem; /* remplir le cadre du drop pour éviter plusieurs pictos dans une case */
    height : 10rem;
    border: 2px black solid;
    border-radius: 5px;
}


@media (max-width: 600px) {
    html { font-size: 14px; }
    .draggable-elements { margin: 1.5rem; }
}
