/* DIVERS */ 
.title {
    text-align: center;
    margin-top: 50px;
    font-family: 'Architects Daughter', cursive;
}

/* BOUTONS */
.button {
    width: 100px;
    height: 50px;
    border:solid 3px #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-left: 70%;
    font-size: 1.4em;
    font-family: 'Architects Daughter', cursive;

}

.button:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.button:active {
    transform: translate(0px,1px);
    -webkit-transform: translate(0px,1px);
}

/* CURSEURS */
body {
    cursor: url("../images/divers/cursormini.png"), auto;
}

.button:hover {
    cursor: url("../images/divers/pointermini.png"), auto;
}
