html, body {
    font-family: 'Architects Daughter', cursive;
}

/* DIVERS */
.title {
    text-align: center;
    margin-top: 50px;
    font-family: 'Architects Daughter', cursive;
}

h1 {
    font-size: 2.2em;
    font-family: 'Architects Daughter', cursive;
    font-weight: 20;
}

h3 {
    font-size: 2.2em !important;
    font-family: 'Architects Daughter', cursive !important;
    font-weight: 20 !important;
}

.ui.fluid.button {
    font-size: 1.7em;
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    color : black;
    border-radius: 255px 20px 225px 15px/13px 250px 20px 255px;
}

.ui.inverted.grey.segment {
    border-radius: 255px 17px 225px 14px/13px 250px 7px 255px;
}

/* BOUTONS */
.button {
    width: 100px;
    height: 50px;
    border:solid 3px #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-left: 70%;
    font-size: 1.4em;
    font-family: 'Architects Daughter', cursive;
}

#submitReponse {
    padding: 0 !important;
    margin-left: 81% !important;
}
.field label {
    font-size: 1.4em !important;
    margin-top : 30px !important;
}

.field input {
    font-size: 1.2em !important;
    margin-top : 15px !important;
}

.button:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.button:active {
    transform: translate(0px,1px);
    -webkit-transform: translate(0px,1px);
}

/* Boutons validation réponses*/
.ui.button {
    font-size: 1.4em;
    font-family: 'Architects Daughter', cursive;
    font-weight: 10;
    color : black;
    border-radius: 255px 20px 225px 15px/13px 250px 20px 255px;
}


/* CURSEURS */
body, label:hover {
    cursor: url("../images/divers/cursor.png") 8 9, auto;
}

.button:hover, input:hover {
    cursor: url("../images/divers/pointer.png") 14 7, auto;
}
/**, html, body, input, input:hover, button, button:hover, iframe, label:hover  {*/
/*    cursor: url("../images/divers/cursor.png") 11 9, auto ;!important*/
/*}*/

/*.colorApp {*/
/*    background-color: #0e1821 !important;*/
/*}*/
