html, body {
    font-family: 'Architects Daughter', cursive;
}

/* TODO : REVOIR LE CSS : EFFECTUER LES CHANGEMENTS DANS LES CLASSES SEMANTIC DIRECTEMENT */
/* DIVERS */
.title {
    text-align: center;
    margin-top: 50px;
    font-family: 'Architects Daughter', cursive;
}

h1 {
    font-size: 2.2em;
    font-family: 'Architects Daughter', cursive;
    font-weight: 20;
}

h3 {
    font-size: 2.2em !important;
    font-family: 'Architects Daughter', cursive !important;
    font-weight: 20 !important;
}

h4 {
    font-size: 1.7em !important;
    font-family: 'Architects Daughter', cursive !important;
    font-weight: 20 !important;
}

.ui.fluid.button {
    font-size: 1.7em;
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    color : black;
    border-radius: 255px 20px 225px 15px/13px 250px 20px 255px;
}

.ui.inverted.grey.segment {
    border-radius: 255px 17px 225px 14px/13px 250px 7px 255px;
}

.field label {
    font-size: 1.4em !important;
    margin-top : 30px !important;
}

.field input {
    font-size: 1.2em !important;
    margin-top : 15px !important;
}

.inline.fields label{
    font-size: 1.4em !important;
    margin-top : 30px !important;
}

.six.wide.column {
    font-size: 1.4em;
}





