.message-fixed {
    position: fixed !important;
    z-index: 99 !important;
    top: 70px;
    right: 20px;
}

@media (max-width: 768px) {
    .ui.grid.container {
        padding-top: 100px !important;
        padding-bottom: 60px !important;
    }
}

.h100 {
    min-height: 100vh !important;
}

.colorApp {
    background-color: #ffffff !important;
}

#audioBackgroundButton {
    margin-left: 40px;
    margin-bottom: 30px;
}
.vertical.labeled.icon.bottom.fixed.menu {
    background: none !important;
    border: none !important;
}

.fourImagesInOneBox {
    height: 400px !important;
    display: flex; !important;
    flex-wrap: wrap; !important;
    flex-direction: row; !important;
}

.fourImagesInOneBox label {
    position: relative;
    height: 50% !important;
    width: 50% !important;
}
.fourImagesInOneBox label img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}

.fourImagesInOneBox label i {
    position: absolute;
    color: red;
    bottom: 0;
    right: 0;
    z-index: 30;
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 100px;
    width: 160px;
    z-index: 30;
}

@media (max-width: 768px) {
    header img {
        width: 70px;
    }
    header h1 {
        font-size: 2rem !important;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 490px) {
    header h1 {
        font-size: 1.8rem !important;
        text-align: left;
        margin-left: 140px;
        width: 100%;
    }
}

#logo:hover{
    background-image: url("../images/divers/bckgrndLogo.png");
    background-position-y: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

header h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2.6rem;
    position : absolute;
    font-weight: 600;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hiddenField {
    display: none;
}

/* HIDE RADIO */
#pageInterpersonnelle input[type=radio],
#pageNaturaliste input[type=radio] {
    display: none;
}

.inline.fields {
    flex-wrap: wrap;
}

.blackAndWhite {
    -webkit-filter: contrast(50%);
    filter: contrast(50%);
}

/*.colorInterpersonnelle {*/
/*    color: #D9C7ED !important;*/
/*}*/
/*.bgInterpersonnelle {*/
/*    background-color: #D9C7ED !important;*/
/*    color: white !important;*/
/*}*/

/*.colorIntrapersonnelle {*/
/*    color: #B3EDF8 !important;*/
/*}*/
/*.bgIntrapersonnelle {*/
/*    background-color: #B3EDF8 !important;*/
/*    color: white !important;*/
/*}*/

/*.colorKinesthesique  {*/
/*    color: #E1DACA !important;*/
/*}*/
/*.bgKinesthesique  {*/
/*    background-color: #E1DACA !important;*/
/*    color: white !important;*/
/*}*/

/*.colorLinguistique {*/
/*    color: #BCE9D5 !important;*/
/*}*/
/*.bgLinguistique {*/
/*    background-color: #BCE9D5 !important;*/
/*    color: white !important;*/
/*}*/

/*.colorMathematique {*/
/*    color: #F6BDCE !important;*/
/*}*/
/*.bgMathematique {*/
/*    background-color: #F6BDCE !important;*/
/*    color: white !important;*/
/*}*/

/*.colorMusicale {*/
/*    color: #FEEEB3 !important;*/
/*}*/
/*.bgMusicale {*/
/*    background-color: #FEEEB3 !important;*/
/*    color: white !important;*/
/*}*/

/*.colorNaturaliste {*/
/*    color: #F9C29B !important;*/
/*}*/
/*.bgNaturaliste {*/
/*    background-color: #F9C29B !important;*/
/*    color: white !important;*/
/*}*/

/*.colorVisuoSpatiale {*/
/*    color: #FF889A !important;*/
/*}*/
/*.bgVisuoSpatiale {*/
/*    background-color: #FF889A !important;*/
/*    color: white !important;*/
/*}*/
/* ALIGNEMENT CERVEAU (Results) */
#brainSVG {
    text-align: center;
}
/* BTN SUBMIT */
#submitReponse {
    width : 100px;
    height: 50px;
    border:solid 3px #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-size: 1.4em;
    font-family: 'Architects Daughter', cursive;
    padding: 0 !important;
    margin-top: 25px;
    margin-left: 0;
}
.button:hover {
    cursor: pointer;
    background-color: darkgrey;
    color: white;
}
.button:active {
    transform: translate(0px,1px);
    -webkit-transform: translate(0px,1px);
}
/* BTN ACCUEIL */
.ui.button {
    font-size: 1.4em;
    font-family: 'Architects Daughter', cursive;
    font-weight: 10;
    color : black;
    border-radius: 255px 20px 225px 15px/13px 250px 20px 255px;
    border:solid 3px #41403E;
}
/*LINK SUBMIT*/
.ui.button.link {
    margin-top: 25px;
}
/* CURSEURS */
body, label:hover, footer {
    cursor: url("../images/divers/cursor.png") 8 9, auto;
}
.button:hover, input:hover, .rating>label:hover, [type=radio] + img:hover, .cursor, a:hover, #footerLink a:hover, button:hover, i {
    cursor: url("../images/divers/pointer.png") 14 2, auto !important;
}

.ui.colorApp.segment {
    margin-top: 20px !important;
}
#footerLink{
    position:fixed;
    bottom:0;
    text-align: center;
    padding-top: 5px;
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 470px;
    font-size: 1.2rem;
    color : black;
    font-weight: 50;
    left: 50%;
    transform: translate(-50%);
}
#footerLink a {
    text-decoration: none;
    color : black;
    padding : 1px 6px;
    font-size: 1.3rem;
    font-weight: 700;
}
#footerLink a:hover {
    cursor: pointer !important;
    background-image: url("../images/divers/graffFooter.png");
    background-size: 9.91rem 2rem;
    background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
    #footerLink p{
        display:none;
    }
}

.explanations {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.9rem !important;
    font-family: 'Architects Daughter', cursive !important;
    font-weight: 20 !important;
}

h4 {
    font-size: 1.7em !important;
    font-family: 'Architects Daughter', cursive !important;
    font-weight: 20 !important;
}
.flashMessage {
    position: absolute;
}
.introButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.introButtons>i {
    height: 0 !important;
}
#demoGifInterpersonnelle {
    color: #FFED78;
    font-size: 3.5em;
    margin-top: 20px;
    animation: animationDemo 1.5s ease-in-out infinite;
}
.block.header.interpersonnelle {
    background-color: rgba(255, 237, 120, 0.3);
}
#modalGifInterpersonnelle {
    border: 4px #FFED78 solid;
}
#demoGifNaturaliste {
    color: #94DA7E;
    font-size: 3.5em;
    margin-top: 20px;
    animation: animationDemo 1.5s ease-in-out infinite;
}
.block.header.naturaliste {
    background-color: rgba(148, 218, 126, 0.3);
}
#modalGifNaturaliste {
    border: 4px #94DA7E solid;
}
#demoGifKinesthesique {
    color: #FFBD6D;
    font-size: 3.5em;
    margin-top: 20px;
    animation: animationDemo 1.5s ease-in-out infinite;
}
.block.header.kinesthesique {
    background-color: rgba(255, 189, 109, 0.3);
}
#modalGifKinesthesique {
    border: 4px #FFBD6D solid;
}
#demoGifMusicale {
    color: #95E7E4;
    font-size: 3.5em;
    margin-top: 20px;
    animation: animationDemo 1.5s ease-in-out infinite;
}
.block.header.musicale {
    background-color: rgba(149, 231, 228, 0.3);
}
#modalGifMusicale {
    border: 4px #95E7E4 solid;
}
#demoGifVisuospatiale {
    color: #C3AB87;
    font-size: 3.5em;
    margin-top: 20px;
    animation: animationDemo 1.5s ease-in-out infinite;
}
.block.header.visuospatiale {
    background-color: rgba(195, 171, 135, 0.3);
}
#modalGifVisuospatiale {
    border: 4px #C3AB87 solid;
}
#demoGifMathematique {
    color: #E86E6E;
    font-size: 3.5em;
    margin-top: 20px;
    animation: animationDemo 1.5s ease-in-out infinite;
}
.block.header.mathematique {
    background-color: rgba(232, 110, 110, 0.3);
}
#modalGifMathematique {
    border: 4px #E86E6E solid;
}
#demoGifLinguistique {
    color: #7593D4;
    font-size: 3.5em;
    margin-top: 20px;
    animation: animationDemo 1.5s ease-in-out infinite;
}
.block.header.linguistique {
    background-color: rgba(117, 147, 212, 0.3);
}
#modalGifLinguistique {
    border: 4px #7593D4 solid;
}
#demoGifIntrapersonnelle {
    color: #B3A1EC;
    font-size: 3.5em;
    margin-top: 20px;
    animation: animationDemo 1.5s ease-in-out infinite;
}
.block.header.intrapersonnelle {
    background-color: rgba(179, 161, 236, 0.3);
}
#modalGifIntrapersonnelle {
    border: 4px #B3A1EC solid;
}
@keyframes animationDemo {
    50% {
        color:white;
    }
}

/* VISUO-SPATIALE TIMER */
.chrono {
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 10;
    background-color: white;
    width: 100px;
    height: 100px;
}
.circleTimer {
    position: relative;
    width: 100%;
    height: 100%;
}
.display-remain-time {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-size: 55px;
    color: #C3AB87;
}
.e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
}
.e-c-progress {
    fill: none;
    stroke: #C3AB87;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
    fill: #FFF;
    stroke: #C3AB87;
    stroke-width: 2px;
}
#e-pointer {
    transition: transform 0.7s;
}
.blur-image {
    filter: blur(12px);
    -webkit-filter: blur(12px);
}
.bg-transparent {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#introTitleInterpersonnelle {
    background-image: url("../images/divers/graffInterpersonnelle.png");
    background-position: center;
    background-size: 15em 1.3em;
    background-repeat: no-repeat;
}
#introTitleIntrapersonnelle {
    background-image: url("../images/divers/graffIntrapersonnelle.png");
    background-position: center;
    background-size: 15em 1.3em;
    background-repeat: no-repeat;
}
#introTitleMusicale {
    background-image: url("../images/divers/graffMusicale.png");
    background-position: center;
    background-size: 15em 1.3em;
    background-repeat: no-repeat;
}
#introTitleNaturaliste {
    background-image: url("../images/divers/graffNaturaliste.png");
    background-position: center;
    background-size: 12em 1.3em;
    background-repeat: no-repeat;
}
#introTitleVisuoSpatiale {
    background-image: url("../images/divers/graffVisuoSpatiale.png");
    background-position: center;
    background-size: 15em 1.3em;
    background-repeat: no-repeat;
}
#introTitleKinesthesique {
    background-image: url("../images/divers/graffKinesthesique.png");
    background-position: center;
    background-size: 14em 1.3em;
    background-repeat: no-repeat;
}
#introTitleLinguistique {
    background-image: url("../images/divers/graffLinguistique.png");
    background-position: center;
    background-size: 16em 1.3em;
    background-repeat: no-repeat;
}
#introTitleMathematique {
    background-image: url("../images/divers/graffMathematique.png");
    background-position: center;
    background-size: 16em 1.3em;
    background-repeat: no-repeat;
}

