body {
    margin-top: 40px !important;
    max-height: calc(100% - 40px) !important;
    height: calc(100% - 40px) !important;
}

.oneImageInOneBox {
    height: 250px !important;
}

.oneImageInOneBox img {
    height: 100% !important;
    object-fit: cover !important;
}

.fourImagesInOneBox {
    height: 250px !important;
    display: flex; !important;
    flex-wrap: wrap; !important;
    flex-direction: row; !important;
}

.fourImagesInOneBox img {
    height: 50% !important;
    width: 50% !important;
    object-fit: cover !important;
}

.createEmoticon a {
    position: relative;
}

.createEmoticon a i {
    position: absolute;
    color: black;
    bottom: 0;
    right: 0;
    z-index: 30;
}

.ui.vertical.menu.sidebar-menu {
    margin-top: 40px !important;
    max-height: calc(100% - 40px) !important;
    height: calc(100% - 40px) !important;
}

.ui.vertical.menu.sidebar-menu .item i.icon {
    float: left;
    margin: 0 0.5em 0 0;
}

@media (min-width: 768px) {
    .ui.vertical.menu.sidebar-menu {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        width: 15rem !important;
    }
    .main-content {
        margin-left: 15rem;
    }
    .sidebar-menu-toggler {
        display: none !important;
    }
}

.button_passage_user_admin {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
}

.message-fixed {
    position: fixed !important;
    z-index: 99 !important;
    top: 70px;
    right: 20px;
}

.text_linguistique_admin_dashboard {
    text-align: center;
    margin-top: 7rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.colorInterpersonnelle {
    color: #D9C7ED !important;
}
.bgInterpersonnelle {
    background-color: #D9C7ED !important;
    color: white !important;
}

.colorIntrapersonnelle {
    color: #B3EDF8 !important;
}
.bgIntrapersonnelle {
    background-color: #B3EDF8 !important;
    color: white !important;
}

.colorKinesthesique  {
    color: #E1DACA !important;
}
.bgKinesthesique  {
    background-color: #E1DACA !important;
    color: white !important;
}

.colorLinguistique {
    color: #BCE9D5 !important;
}
.bgLinguistique {
    background-color: #BCE9D5 !important;
    color: white !important;
}

.colorMathematique {
    color: #F6BDCE !important;
}
.bgMathematique {
    background-color: #F6BDCE !important;
    color: white !important;
}

.colorMusicale {
    color: #FEEEB3 !important;
}
.bgMusicale {
    background-color: #FEEEB3 !important;
    color: white !important;
}

.colorNaturaliste {
    color: #F9C29B !important;
}
.bgNaturaliste {
    background-color: #F9C29B !important;
    color: white !important;
}

.colorVisuoSpatiale {
    color: #FF889A !important;
}
.bgVisuoSpatiale {
    background-color: #FF889A !important;
    color: white !important;
}
#linguistique_form_solution {
    text-align: center;

}
#linguistique_form_solution .checkbox label{
    display: none !important;
}
#linguistique_form_solution .checkbox {
    border: black 2px dashed;
    border-radius: 5px;
    margin : 10px;
    cursor: pointer;
}
#linguistique_form_solution .checkbox.checked {
    border: green 4px solid;
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    position: relative;
}
@keyframes click-wave {
    0% {
        border: none;
        height: 80px;
        width: 80px;
        opacity: 0.5;
        position: relative;
    }
    100% {
        border: none;
        height: 80px;
        width: 80px;
        transform: scale(2,2);
        opacity: 0;
    }
}
#allPictoDeleting{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#deletePictos {
    width: 85px;
    height: 108px;
    margin: 10px;
    border: black 2px dashed;
}
#deletePictos a {
    margin-left: 32px;
    font-size: 1.2em;
}
#deletePictos a i {
    margin-top: 5px;
    color: #404040;
}
#deletePictos a i:hover{
    color: black;
    transform: scale(1.25, 1.25);
}
#trashIcon {
    background-color: #FFE5E5;
    height: 24px;
    margin-top: -2px;
}
