{% extends 'base.html.twig' %}

{% block title %}Introduction Logique et Mathématique{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}
    <div class="ui grid container h100 middle aligned" id="pageIntro">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header" >Introduction au jeu qui va suivre :</h3>
                    <h3 class="ui header centered" id="introTitleMathematique">Intelligence Logique et Mathématique</h3>
                    <div class="logosInIntros">
                        <img src="{{ asset('images/logos/logoMathematique.png') }}" class="logosIntelligences" alt="logo mathematique">
                    </div>
                    <div class="explanations">
                        <p>Pour chaque manche, tu devras indiquer le résultat de l'énigme mathématique qui te sera
                            présentée.</p>
                        <p>Mais attention, il s'agit de calcul mental. Calculatrices et brouillons sont donc interdits
                            !</p>
                        <p>ATTENTION : tu n'as que 90 secondes pour trouver le résultat.</p>
                        <p>Bonne chance !</p>
                    </div>
                    {# modal #}
                    <div class="ui tiny modal demoGifMathematique" id="modalGifMathematique">
                        <h4 class="ui block header mathematique centered">Aperçu du jeu suivant</h4>
                        <img src="{{ asset('gifs/gifMathematique.gif') }}" alt="gif demonstration" width="100%">
                    </div>
                    {# modal #}
                    <div class="introButtons">
                        <a class="ui button" href="{{ path('mathematique') }}"
                           onclick="playClick()">Je suis prêt !</a>
                        <i class="question circle outline icon" id="demoGifMathematique"
                           onclick="afficherModalHelp('demoGifMathematique'); playLink()" title="Aperçu du jeu suivant"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
