{% extends 'base.html.twig' %}

{% block title %}Introduction{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
                    <div class="explanations">
                        <p>Le jeu se déroule en 3 manches.</p>
                        <p>A chaque manche, tu devras visionner une vidéo mettant en scène une émotion.</p>
                        <p>Tu devras ensuite choisir parmis toutes les émoticônes celle qui, selon toi, correspond à l'émotion représentée dans la vidéo.</p>
                        <p>Bonne chance !</p>
                    </div>
                    <img src="{{ asset('gifs/linguistique.gif') }}" alt="gif demonstration" width="100%">
                    <a class="ui button" id="#submitReponse" href="{{ path('mathematique') }}" onclick="playClick()">Je suis prêt !</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
