{% extends 'base.html.twig' %}

{% block title %}Les talents de {{ app.user.username }} | Logico-Mathématique{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned">
        <div class="row">
            <div class="sixteen wide mobile twelve wide tablet ten wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Mathématique</h3>
                    <div id="blocEnigme">
                        {% include("mathematique/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
