{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Logique et Mathématique{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}

    <div class="ui grid container h100 middle aligned" id="pageMathematique">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header" id="titleMathematique">Logique et Mathématique</h3>
                    <div id="blocEnigme">
                        {% include("mathematique/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
