{% extends 'base.html.twig' %}

{% block title %}Les talents de {{ app.user.username }} | Logico-Mathématique{% endblock %}

{% block body %}
    <h1>{{ parent() }}</h1>
    <h2>Nom du jeu énigmes LogicoMathématiques</h2>

    {# Afficher image de l'énigme + Input = formulaire pour enregistrement en BDD #}
    <section>
        <div id="blocEnigme">
            <form id="formEnigme">
                <img src="{{ asset('images/mathematique/') ~ enigmeRandom.urlImage  }}" alt="">
                <label for="reponseUtilisateur">Votre réponse :</label>
                <input type="text" name="reponseFacile" required="required" id="reponseUtilisateur" autofocus>
                <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
            </form>
            <button id="buttonEnvoyer" onclick="requeteAjaxPostv2('#formEnigme', '#blockEnigme')">Envoyer</button>
        </div>
    </section>
{% endblock %}
