{% extends 'base_admin.html.twig' %}

{% block title %}Admin Gestion{% endblock %}

{% block body %}
    <div class="ui grid stackable padded">
        <div class="column">
            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>UrlVideo</th>
                    <th>Solution</th>
                    <th>Niveau difficulté</th>
                </tr>
                </thead>
                <tbody>
                {% for enigme in tableauEnigmes %}
                    <tr>
                        <td>{{ enigme.id }}</td>
                        <td>{{ enigme.urlVideo }}</td>
                        <td>{{ enigme.solution }}</td>
                        <td>{{ enigme.levelOfDifficulty.label }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
