{% extends 'admin/layouts/gabarit.html.twig' %}

{% set nameEnigme = 'Kinesthesique' %}
{% set nameEnigmeRoute = 'kinesthesique' %}

{% block visuel %}
    <div class="ui fluid image oneImageInOneBox">
        <img src="{{ asset('images/kinesthesique/kinesthesique.jpg') }}" alt="image kinesthesique">
    </div>
{% endblock %}

{% block solution %}
    {{ enigme.solution }}
{% endblock %}
