{% extends 'admin/layouts/gabarit.html.twig' %}

{% set nameEnigme = 'Linguistique' %}
{% set nameEnigmeRoute = 'linguistique' %}

{% block visuel %}
    <div class="ui fluid image oneImageInOneBox">
        <div class="text_linguistique_admin_dashboard">{{ enigme.text }}</div>
    </div>
{% endblock %}

{# TODO: display la solution sous forme de suite de pictos #}
{#{% block solution %}#}
{#    {{ enigme.solution.urlImage }}#}
{#{% endblock %}#}
