{% extends 'admin/layouts/gabarit.html.twig' %}

{% set nameEnigme = 'Mathématique' %}
{% set nameEnigmeRoute = 'mathematique' %}

{% block visuel %}
    <div class="ui fluid image oneImageInOneBox">
        <img src="{{ asset('images/mathematique/') ~ enigme.urlImage }}" alt="image enigme">
    </div>
{% endblock %}

{% block solution %}
    {{ enigme.solution }}
{% endblock %}
