{% extends 'admin/layouts/gabarit.html.twig' %}

{% set nameEnigme = 'Musicale' %}
{% set nameEnigmeRoute = 'musicale' %}

{% block visuel %}
    <div class="ui fluid image oneImageInOneBox">
        <img src="https://www.ecole-musique-conques-marcillac.com/uploads/images/cours/formation-musicale/formation-musicale.jpg" alt="image enigme">
    </div>
{% endblock %}

{% block solution %}
    {{ enigme.solution }}
{% endblock %}
