{% extends 'admin/layouts/gabarit.html.twig' %}

{% set nameEnigme = 'Visuo-Spatiale' %}
{% set nameEnigmeRoute = 'visuoSpatiale' %}

{% block visuel %}
    <div class="ui fluid image oneImageInOneBox">
        <img src="{{ asset('images/visuoSpatiale/') ~ enigme.urlImage }}" alt="image enigme">
    </div>
{% endblock %}

{% block solution %}
    {{ enigme.solution }}
{% endblock %}
