<div class="explanations">
    <p>Bien joué ! Maintenant, passons à l'étape suivante.</p>
</div>
<h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
<div class="explanations">
    <p>Le jeu qui suit est un mini-questionnaire.</p>
    <p>Réponds honnêtement aux 3 questions qui te seront posées.</p>
    <p>Bonne chance !</p>
</div>
<a class="ui button" id="#submitReponse" href="{{ path('kinesthesique') }}">Je suis prêt !</a>
