{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Visuelle et Spatiale{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}

    <div class="ui grid container h100 middle aligned" id="pageVisuoSpatiale">
        <div class="row">
            <div class="sixteen wide mobile twelve wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header" id="titleVisuoSpatiale">Visuelle et Spatiale <img src="{{ asset('images/logos/logoVisuospatiale.png') }}" class="logosIntelligences" id="logosWithChrono" alt="logo Visuospatiale"></h3>
                    <div id="blocEnigme">
                        {% include("visuoSpatiale/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
