{% extends 'base.html.twig' %}

{% block title %}Enigme Visuo-Spatiale{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}

    <div class="ui grid container h100 middle aligned" id="pageVisuoSpatiale">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Visuo-Spatiale</h3>
                    <div id="blocEnigme">
                        {% include("visuoSpatiale/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
