{% extends 'base.html.twig' %}

{% block title %}Les talents de {{ app.user.username }} | Verbo-Linguistique{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned" id="pageLinguistique">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet ten wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Linguistique</h3>
                    <div id="blocEnigme">
                        {% include("linguistique/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
