.draggable-elements {
    display: flex;
    justify-content: center;
    margin: 2rem;
    margin-top: 100px;
    height: 100px;
}

.droppable-elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px
}

.draggable {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin: 0 0.5rem;
    transition: opacity 0.2s;
}
.draggable:hover {
    opacity: 0.5;
    cursor: pointer;
}
.droppable {
    height: 6.5rem;
    width: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: #fff;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    /*border-right: 1px dashed darkgrey;*/
    /*border-left: 1px dashed darkgrey;*/
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
    font-size: 0.2em;
    color: white;
    pointer-events: none; /* The element is never the target of pointer events */
}

/* Drag and Drop Related Styling */
.droppable.droppable-hover {
    background-color: #bee3f0;
    border-width: 5px;
    transform: scale(1.1);
}
.droppable.dropped {
    border-style: solid;
    color: #fff;
}
.droppable.dropped span {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
.dropped i {
    pointer-events: none;
}
.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}
.draggable.dragged:hover {
    opacity: 0.1;
}

@media (max-width: 600px) {
    html { font-size: 14px; }
    .draggable-elements { margin: 1.5rem; }
}
