{% extends 'base.html.twig' %}

{% block title %}Enigme Naturaliste{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned" id="pageNaturaliste">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Naturaliste</h3>
                    <div id="blocEnigme">
                        {% include("naturaliste/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
