<div class="explanations">
    <p>Bien joué ! Maintenant, passons à l'étape suivante.</p>
</div>
<h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
<div class="explanations">
    <p>Le jeu se déroule en 3 manches.</p>
    <p>Le but est de reproduire l'extrait musical que tu entendras à l'aide des boutons colorés.</p>
    <p>Astuces :</p>
    <ul>
        <li>Chaque bouton coloré représente un son.</li>
        <br>
        <li>Tu peux cliquer sur les boutons colorés autant de fois que nécessaire pour écouter les sons qu'ils produisent.</li>
        <br>
        <li>Lorsque tu penses avoir trouvé le bon son, tu peux l'ajouter à l'aide du bouton "+".</li>
        <br>
        <li>ATTENTION : tu n'as droit qu'à 5 écoutes maximum de l'extrait à reproduire.</li>
    </ul>
    <p>Bonne chance !</p>
</div>
<a class="ui button" href="{{ path('musicale_intro') }}">Je suis prêt !</a>
