<div class="explanations">
    <p>Bien joué ! Maintenant, passons à l'étape suivante.</p>
</div>
<h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
<div class="explanations">
    <p>Le jeu se déroule en 3 manches.</p>
    <p>A chaque manche, il te faudra trouver parmis les 4 images qui te seront présentées celle qui ne présente pas de
        point commun avec les 3 autres.</p>
    <p>Bonne chance !</p>
</div>
<a class="ui button" href="{{ path('naturaliste_intro') }}" onclick="playNext()">Je suis prêt !</a>

