<form class="ui form" id="formEnigme">
    <iframe width="560" height="315" src="{{ enigmeRandom.urlVideo }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <div class="field">
        <label for="input">Réponse :</label>
        <input type="text" name="{{ nomInput }}" id="input" placeholder="Réponse">
    </div>
    <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
</form>
<button class="ui button" id="submitReponse" onclick="requeteAjaxPostv2('#formEnigme', '#blocEnigme')">Envoyer</button>
