{% extends 'base.html.twig' %}

{% block title %}Introduction Musicale et Rythmique{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Introduction au jeu qui va suivre...</h3>
                    <div class="explanations">
                        <p>Pour chaque manche, le but est de reproduire l'extrait musical que tu entendras à l'aide des
                            boutons colorés.</p>
                        <p>Astuces :</p>
                        <ul>
                            <li>Chaque bouton coloré représente un son.</li>
                            <br>
                            <li>Tu peux cliquer sur les boutons colorés autant de fois que nécessaire pour écouter les
                                sons qu'ils produisent.
                            </li>
                            <br>
                            <li>Lorsque tu penses avoir trouvé le bon son, tu peux l'ajouter à l'aide du bouton "+".
                            </li>
                            <br>
                            <li>ATTENTION : tu n'as droit qu'à 5 écoutes maximum de l'extrait à reproduire.</li>
                        </ul>
                        <p>Bonne chance !</p>
                    </div>
                    {# modal #}
                    <div class="ui mini modal demo" id="modalGifMusicale">
                        <h4 class="ui block header musicale centered">Aperçu du jeu suivant</h4>
                        <img src="{{ asset('gifs/linguistique.gif') }}" alt="gif demonstration" width="100%">
                    </div>
                    {# modal #}
                    <div class="introButtons">
                        <a class="ui button" id="#submitReponse" href="{{ path('musicale') }}" onclick="playClick()">Je
                            suis
                            prêt !</a>
                        <i class="question circle outline icon" id="demoGifMusicale"
                           onclick="afficherModalDemo(); playLink()" title="Aperçu du jeu suivant"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
