{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Musicale et Rythmique{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}

    <div class="ui grid container h100 middle aligned" id="pageMusicale">
        <div class="row">
            <div class="sixteen wide mobile twelve wide tablet eight wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Musicale et Rythmique</h3>
                    <div id="blocEnigme">
                        {% include("musicale/content/formEnigme.html.twig") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
