<div id="animation_container" style="background-color:transparent; width:300px; height:480px; position: fixed; bottom: 0; right: 0; z-index: 99">
    <canvas id="canvas" width="300" height="480" style="position: absolute; display: block; background-color:transparent;"></canvas>
    <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:300px; height:480px; position: absolute; left: 0; top: 0; display: block;">
    </div>
</div>
